.educationDiv {
  background-color: var(--white);
  height: fit-content;
  padding-bottom: 15px;
}

.sectionTitle {
  font-size: 18px;
  width: fit-content;
  background-color: var(--blue);
  margin: 0px 20px 20px 20px;
  padding: 25px 10px 5px 10px;
  color: var(--white);
  font-weight: 500;
  position: relative;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.315), 5px 0px 0 rgba(0, 0, 0, 0.315);
}

.educationPara {
  font-weight: 400;
  color: black;
  margin: 5px 0px 5px 30px;
  position: relative;
}

.educationPara::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background: rgba(0, 0, 0, 0.5);
  top: -5px;
  left: -7px;
}

div > .educationPara:last-child {
  margin-bottom: 30px;
}
